.navbar-light {
    background-color: rgb(230, 230, 230);
}

.dropdown-menu {
    background-color: rgb(230, 230, 230);
}

#logo {
    margin: 25px 0px 25px 0px;
    width: 100%;
}

#ads {
    margin: 25px 0px 25px 0px;
    width: 100%;
}

#promoted-article {
    margin: 25px 0px 25px 0px;
    width: 100%;
}

#cool-article {
    margin: 25px 0px 0px 0px;
    width: 97%;
}

