.navbar-light {
    background-color: rgb(230, 230, 230);
}

.dropdown-menu {
    background-color: rgb(230, 230, 230);
}

#logo {
    margin: 25px 15px 25px 0px;
    width: 80%;
}

#ads {
    margin: 25px 0px 25px 15px;
    width: 85%;
}